th {
  cursor: pointer;
}

.th--sort-asc:after {
  border: 3px solid;
  border-color: #000 transparent transparent;
  content: '';
  display: inline-block;
  margin-left: 3px;
}

.th--sort-desc:after {
  border: 3px solid;
  border-color: transparent transparent #000;
  content: '';
  display: inline-block;
  margin-left: 3px;
  transform: translateY(-3px);
}
